.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.2); /* Optional: Add transparency */
  }
  
  #container a {
    text-decoration: none;
  }
  
  #my_footer {
    min-height: fit-content;
    max-height: fit-content;
    text-align: center;
    align-self: right;
    position: fixed;
    bottom: 0;
  }
  
  ion-list {
    max-width: 300px;
    min-width: 300px;
    max-height: 50px;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.6);
    box-shadow: 0px 1px 2px 0px rgba(255 255, 255, 1), 0px 1px 3px 1px rgba(255, 255, 255, 1);
    color: white;
    align-self: stretch;
  }
  
  ion-select {
    background: transparent;
    /* opacity: 80%; */
    text-align: center;
    font-size: 0.8em;
  }

   ion-fab-button::part(native) {
    background-color: rgba(0, 0, 0, 1) !important;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(255 255, 255, 1), 0px 1px 3px 1px rgba(255, 255, 255, 1);
    color: white;
  }
  
  
  ion-header {
    opacity: 90%;
  }
  
  #transparent {
    color: white;
    background-color: transparent;
  }
  
  ion-menu {
    --background: rgba(0, 0, 0, 0.8);
    --ion-background-color: transparent;
    --ion-color-base: transparent !important;
    left: 0px;
  }

  .scrollable-content {
    --overflow: scroll; /* Enables scrolling */
  }
  
  .scrollable-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto; /* Allows the image to adjust its height dynamically */
    object-fit: cover; /* Ensures the image scales proportionally */
  }
  
  /* Right */
  #foot_menu {
    min-width: 400px;
    width: fit-content;
    position: fixed;
    right: 0;
    /* transform: translate(-50%); */
    bottom: 0;
    padding: 1em;
    /* height: 88px; */
    height: fit-content;
    border-radius: 12px;
    border-color: white;
    border-style: solid;
    border-width: thin;
  }

  ion-grid {
    --ion-grid-width: 50%;

    --ion-grid-width-xs: 100%;
    --ion-grid-width-sm: 60%;
    --ion-grid-width-md: 40%;
    --ion-grid-width-lg: 60%;
    --ion-grid-width-xl: 60%;
  }

  .dark {
    background-color: rgba(0, 0, 0, 1) !important;
    color: #ffffff;
  }