:root {
  --custom-background: black;
  --custom-color: white;
  --custom-box-shadow: 0px 1px 2px 0px rgba(255 255, 255, 1), 0px 1px 3px 1px rgba(255, 255, 255, 1);
  --custom-box-bigger-shadow: 0px 4px 8px 2px white;
}

@media (prefers-color-scheme: light) {
  :root {
    --custom-background: white;
    --custom-color: black;
    --custom-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 1), 0px 1px 3px 1px rgba(0, 0, 0, 1);
    --custom-box-bigger-shadow: 0px 4px 8px 2px black;
  }
}

ion-footer {
  min-height: fit-content;
  max-height: fit-content;
  text-align: center;
  align-self: right;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

ion-header {
  opacity: 70%;
}

ion-menu-button {
  color: var(--custom-color);
}


/* LIST */
ion-list {
  width: 300px;
  padding: 0;
  margin: 0 !important;
  opacity: 0.7;
  align-self: stretch;
  box-shadow: var(--custom-box-shadow);
  align-items: center;
  justify-content: center;
  display: flex;
}

ion-item {
  width: 100%;
  text-align: center;
  height: 28px;
  display: flex;
}

ion-select {
  width: 100%;
  text-align: center;
  color: var(--custom-color);
}


/* FABS */
ion-fab-button {
  height: 28px;
}

ion-fab-button::part(native) {
  background-color: var(--custom-background);
  border-radius: 8px;
  box-shadow: var(--custom-box-shadow);
  color: var(--custom-color);
}


/* SEGMENTS */
ion-segment-button::part(native) {
  opacity: 0.5;
  background-color: var(--custom-background);
  box-shadow: var(--custom-box-shadow);
}

ion-segment-button.segment-button-checked::part(native) {
  background-color: var(--custom-background);
  opacity: 1;
  box-shadow: var(--custom-box-shadow);
}


/* GRID */
/* Name	Value	  Description
    xs	100%	  Width is 100% for xs screens
    sm	540px	  Set grid width to 540px when (min-width: 576px)
    md	720px	  Set grid width to 720px when (min-width: 768px)
    lg	960px	  Set grid width to 960px when (min-width: 992px)
    xl	1140px	Set grid width to 1140px when (min-width: 1200px) 
*/

ion-grid {
  --ion-grid-width: 620px;

  --ion-grid-width-xs: 310px;
  --ion-grid-width-sm: 620px;
  --ion-grid-width-md: 620px;
  --ion-grid-width-lg: 620px;
  --ion-grid-width-xl: 620px;
}


/* SWIPER */
swiper-container {
  position: absolute;
  width: 100%;
  height: auto;
  --swiper-navigation-color: black;

  /* Center in portrait mode */
  @media (orientation: portrait) {
    top: 50%;
    transform: translate(0, -50%);
  }

  /* Start at the very top in landscape mode */
  @media (orientation: landscape) {
    top: 0;
    transform: translate(0, 0);
  }
}
